@import "./variables";

.vote-diff-points {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px;
}
.vote-card {
  background: white;
  border: 10px solid #ecd5a9;
  padding: 30px;
  cursor: pointer;
  border-radius: 12px;
  .vote-title {
    margin-bottom: 10px;
  }

  .vote-points {
    display: flex;
    align-items: center;
    .vote-total-point {
      min-height: 80px;
      min-width: 80px;
      border-radius: 100%;
      border: 6px solid black;
      display: flex;
      justify-content: center;
      padding: 10px;
      align-items: center;
      margin-right: 15px;
      white-space: pre-wrap;
      flex-direction: column;
      b {
        font-size: 18px;
      }
    }
  }

  .vote-rate {
    :before {
      position: absolute;
      left: -10px;
      height: 7px;
      width: 7px;
      content: "";
      top: 0;
      bottom: 0;
      background: rgb(128, 101, 93);
      margin: auto;
      border-radius: 100%;
    }
  }
}

.frame{
    height: 200px;
    width: 200px;
    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}